[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-dotenv = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"
djangorestframework = "*"
django-allauth = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
